/* Calculator */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2rem;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results {
  width: 960px;
  height: 3rem;
  border: 5px solid black;
  text-align: end;
}

/* Button Colors */ 
.number {
  color: blue;
}
.operator {
  color: red;
}

.container {
  display: grid;
  width: 960px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "seven eight nine add"
    "four five six subtract"
    "one two three multiply"
    "clear zero equals divide"
}

/* Grid Areas via Template*/
.clear {
  color: orange;
  grid-area: clear;
}
.equals {
  grid-area: equals;
}
/* Numbers */
#nine {
  grid-area: nine;
}
#eight {
  grid-area: eight;
}
#seven {
  grid-area: seven;
}
#six {
  grid-area: six;
}
#five {
  grid-area: five;
}
#four {
  grid-area: four;
}
#three {
  grid-area: three;
}
#two {
  grid-area: two;
}
#one {
  grid-area: one;
}
#zero {
  grid-area: zero;
}
/* Operators */
#add {
  grid-area: add;
}
#subtract {
  grid-area: subtract;
}
#multiply {
  grid-area: multiply;
}
#divide {
  grid-area: divide;
}
