/* Calculator */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results {
  width: 960px;
  height: 3rem;
  border: 5px solid black;
  text-align: end;
}

.container {
  display: grid;
  width: 960px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*
button {
  width: 90px;
  height: 90px;
}
*/

.number {
  color: blue;
}

.operator {
  color: red;
}
