/* Etch-a-Sketch */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #845ec2;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  /*
  width: 960px;
  height: 960px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  */
}

.container > div {
  width: 100px;
  height: 100px;
}

.blank {
  background: white;
}

.filled {
  background: black;
}
